<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WALLACE: Img to Text</title>
</head>
<body>
    <h1>Image to Text</h1>
    <input action = '/upload' method="POST" enctype="multipart/form-data">
        <input type="file" name="wall" />
        <button type="submit">Conversion</button>
    </form>
</body>
</html>